/* Color
"node-sass": "^4.13.0",
"sass-loader": "^8.0.0",  高版本的会报错
-------------------------- */
// $--color-primary: red !default;
$--color-primary: #3075BC !default;
$--color-white: #FFFFFF !default;
$--color-red: #FF5B5B !default;
$--color-green: #1CC09F !default;
$--color-gray: #999999 !default;
$--color-dark-gray: #666666 !default;